<div class="card text-center container">
  <div class="card-header">
    Welcome to Aboki Nigeria
  </div>
  <div class="card-body">
   
    <a href="/user/register" class="btn btn-primary">Register</a>     <a href="/user/login" class="btn btn-primary">Login</a>
  </div>
  <div class="card-footer text-muted">
    <i class="bi bi-facebook"></i> <i class="bi bi-github"></i> <i class="bi bi-twitter"></i>
  </div>
</div>